opentelemetry-distro==0.59b0

urllib3 <2.6.0
# We don't use the distro[otlp] option which automatically includes exporters since gRPC is not appropriate for
# injected auto-instrumentation, where it has a strict dependency on the OS / Python version the artifact is built for.
opentelemetry-exporter-otlp-proto-http==1.38.0
opentelemetry-exporter-prometheus==0.59b0

opentelemetry-propagator-b3==1.38.0
opentelemetry-propagator-jaeger==1.38.0
opentelemetry-propagator-aws-xray==1.0.2

opentelemetry-instrumentation==0.59b0
opentelemetry-propagator-ot-trace==0.59b0

# Copied in from https://github.com/open-telemetry/opentelemetry-python-contrib/tree/main/instrumentation
opentelemetry-instrumentation-aio-pika==0.59b0
opentelemetry-instrumentation-aiohttp-client==0.59b0
opentelemetry-instrumentation-aiohttp-server==0.59b0
opentelemetry-instrumentation-aiokafka==0.59b0
opentelemetry-instrumentation-aiopg==0.59b0
opentelemetry-instrumentation-asgi==0.59b0
opentelemetry-instrumentation-asyncio==0.59b0
opentelemetry-instrumentation-asyncpg==0.59b0
opentelemetry-instrumentation-aws-lambda==0.59b0
opentelemetry-instrumentation-boto==0.59b0
opentelemetry-instrumentation-boto3sqs==0.59b0
opentelemetry-instrumentation-botocore==0.59b0
opentelemetry-instrumentation-cassandra==0.59b0
opentelemetry-instrumentation-celery==0.59b0
opentelemetry-instrumentation-click==0.59b0
opentelemetry-instrumentation-confluent-kafka==0.59b0
opentelemetry-instrumentation-dbapi==0.59b0
opentelemetry-instrumentation-django==0.59b0
opentelemetry-instrumentation-elasticsearch==0.59b0
opentelemetry-instrumentation-falcon==0.59b0
opentelemetry-instrumentation-fastapi==0.59b0
opentelemetry-instrumentation-flask==0.59b0
opentelemetry-instrumentation-grpc==0.59b0
opentelemetry-instrumentation-httpx==0.59b0
opentelemetry-instrumentation-jinja2==0.59b0
opentelemetry-instrumentation-kafka-python==0.59b0
opentelemetry-instrumentation-logging==0.59b0
opentelemetry-instrumentation-mysql==0.59b0
opentelemetry-instrumentation-mysqlclient==0.59b0
opentelemetry-instrumentation-pika==0.59b0
opentelemetry-instrumentation-psycopg==0.59b0
opentelemetry-instrumentation-psycopg2==0.59b0
opentelemetry-instrumentation-pymemcache==0.59b0
opentelemetry-instrumentation-pymongo==0.59b0
opentelemetry-instrumentation-pymysql==0.59b0
opentelemetry-instrumentation-pyramid==0.59b0
opentelemetry-instrumentation-redis==0.59b0
opentelemetry-instrumentation-remoulade==0.59b0
opentelemetry-instrumentation-requests==0.59b0
opentelemetry-instrumentation-sqlalchemy==0.59b0
opentelemetry-instrumentation-sqlite3==0.59b0
opentelemetry-instrumentation-starlette==0.59b0
opentelemetry-instrumentation-system-metrics==0.59b0
opentelemetry-instrumentation-threading==0.59b0
opentelemetry-instrumentation-tornado==0.59b0
opentelemetry-instrumentation-tortoiseorm==0.59b0
opentelemetry-instrumentation-urllib==0.59b0
opentelemetry-instrumentation-urllib3==0.59b0
opentelemetry-instrumentation-wsgi==0.59b0
