#####################################################
#
# List of approvers for OpenTelemetry Collector Kubernetes Operator
#
#####################################################
#
# Learn about membership in OpenTelemetry community:
#  https://github.com/open-telemetry/community/blob/main/community-membership.md
#
#
# Learn about CODEOWNERS file format:
#  https://help.github.com/en/articles/about-code-owners
#

# Global owners, will be the owners for everything in the repo.
* @open-telemetry/operator-approvers

# AutoInstrumentation owners
/autoinstrumentation/dotnet/ @open-telemetry/dotnet-instrumentation-approvers @open-telemetry/operator-approvers
