<div class="card">
    <div class="table-wrapper">
        <table>
            <thead>
                <tr>
                {{- range $index, $name := .Headers }}
                    <th class="sortable">{{$name}}</th>
                {{- end}}
                </tr>
            </thead>
            <tbody>
            {{- $index := 0 }}
            {{- range $index, $row := .Rows }}
                <tr>
                    {{- range $index, $cell := $row}}
                    <td>
                        {{- if $cell.Link }}
                        <a href="{{$cell.Link}}">{{$cell.Text}}</a>
                        {{- else if $cell.Preformatted }}
                        <pre>{{$cell.Text}}</pre>
                        {{- else}}
                        {{$cell.Text}}
                        {{- end}}
                    </td>
                    {{- end}}
                </tr>
            {{- end}}
            </tbody>
        </table>
    </div>
</div>
