apiVersion: opentelemetry.io/v1alpha1
kind: OpenTelemetryCollector
metadata:
  name: otel
spec:
  config: |
    receivers:
      otlp:
        protocols: 
          grpc:
          http:

    exporters:
      debug:

    service:
      pipelines:
        traces:
          receivers: [otlp]
          exporters: [debug]
