name: Alauda Release workflow

on:
  workflow_dispatch:
    inputs:
      release_version:
        description: "Release version（用于生成 github tag）"
        required: true
        default: "2.0.0"
      bundle_channels:
        description: "Bundle channels"
        required: true
        default: "stable"
      bundle_version:
        description: "Bundle and Operator version（用于构建 bundle 和 operator 镜像）"
        required: true
        default: "v0.144.0-r0"
      collector_tag:
        description: "Collector tag（OpenTelemetry Collector 镜像 tag）"
        required: true
        default: "0.144.5-r0"
      is_draft_release:
        description: "Draft release"
        type: boolean
        required: false
        default: true
      is_pre_release:
        description: "Pre-release"
        type: boolean
        required: false
        default: false

run-name: Release ${{ inputs.release_version }}

env:
  VERSION: ${{ inputs.release_version }}
  BUNDLE_VERSION: ${{ inputs.bundle_version }}
  OPERATOR_VERSION: ${{ inputs.bundle_version }}
  COLLECTOR_TAG: ${{ inputs.collector_tag }}
  PLATFORMS: linux/amd64,linux/arm64
  IMG_PREFIX: build-harbor.alauda.cn/asm
  IMG_REPO: opentelemetry-operator2

jobs:
  release:
    runs-on: [self-hosted, linux, x64]

    steps:
      - name: Install GH CLI
        uses: dev-hanz-ops/install-gh-cli-action@v0.2.1

      - name: Login to build-harbor.alauda.cn
        uses: docker/login-action@v3
        with:
          registry: build-harbor.alauda.cn
          username: ${{ secrets.HARBOR_USERNAME }}
          password: ${{ secrets.HARBOR_PASSWORD }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          platforms: linux/amd64,linux/arm64

      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "~1.25.7"

      - name: Build the operator binary for each supported architecture
        run: |
          for platform in $(echo $PLATFORMS | tr "," "\n"); do
            arch=${platform#*/}
            echo "Building manager for $arch"
            make manager ARCH=$arch \
              -e COMMON_LDFLAGS="-s -w ${{ vars.LD_EXTRAFLAGS }}"
          done

      - name: Build and push operator image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile.alauda
          platforms: ${{ env.PLATFORMS }}
          push: true
          tags: ${{ env.IMG_PREFIX }}/${{ env.IMG_REPO }}:${{ env.OPERATOR_VERSION }}

      - name: Generate bundle metadata
        run: |
          make bundle \
            -e VERSION=$BUNDLE_VERSION \
            -e BUNDLE_VARIANT=community \
            -e CHANNELS=$CHANNELS \
            -e IMG_PREFIX=$IMG_PREFIX \
            -e IMG_REPO=$IMG_REPO
        env:
          CHANNELS: ${{ inputs.bundle_channels }}

      - name: Alauda patch CSV
        run: |
          make alauda-patch \
            -e ALAUDA_OPERATOR2_TAG=$BUNDLE_VERSION \
            -e ALAUDA_COLLECTOR_TAG=$COLLECTOR_TAG

      - name: Build and push bundle image
        continue-on-error: true
        run: |
          make bundle-build \
            -e VERSION=$BUNDLE_VERSION \
            -e BUNDLE_VARIANT=community \
            -e IMG_PREFIX=$IMG_PREFIX \
            -e IMG_REPO=$IMG_REPO
          make bundle-push \
            -e VERSION=$BUNDLE_VERSION \
            -e IMG_PREFIX=$IMG_PREFIX \
            -e IMG_REPO=$IMG_REPO

      - name: Create GitHub release
        run: |
          gh release create $VERSION \
            --target ${{ github.ref_name }} \
            --title "Alauda Build of OpenTelemetry $VERSION" \
            --generate-notes \
            $GH_RELEASE_FLAGS
        env:
          GH_RELEASE_FLAGS: ${{ github.event.inputs.is_pre_release == 'true' && '--prerelease' || '' }} ${{ github.event.inputs.is_draft_release == 'true' && '--draft' || '' }}
