name: "Continuous Integration"
on: [push, pull_request]

jobs:
  unit-tests:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/setup-go@v1
      with:
        go-version: '1.14.4'
    - uses: actions/checkout@v1

    - name: Lint
      uses: golangci/golangci-lint-action@v2
      with:
        version: v1.29
        args: --enable=gosec,maligned,misspell
        only-new-issues: true

    - name: "install kubebuilder"
      run: ./hack/install-kubebuilder.sh

    - name: "basic checks"
      run: make ci
