name: "Continuous Integration"

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  unit-tests:
    name: Unit tests
    runs-on: ubuntu-20.04
    steps:
    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.17

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2.3.4

    - name: "install kubebuilder"
      run: ./hack/install-kubebuilder.sh

    - name: "install kustomize"
      run: ./hack/install-kustomize.sh

    - uses: jpkrohling/setup-operator-sdk@v1.1.0
      with:
        operator-sdk-version: v1.10.1

    - name: "basic checks"
      run: make ci

  lint:
    name: Code standards (linting)
    runs-on: ubuntu-20.04
    steps:
    - name: Check out code into the Go module directory
      uses: actions/checkout@v2.3.4

    - name: Lint
      uses: golangci/golangci-lint-action@v2.5.2
      with:
        args: -v
        version: v1.29

  security:
    name: Security
    runs-on: ubuntu-20.04
    steps:
    - name: Check out code into the Go module directory
      uses: actions/checkout@v2.3.4

    - name: Initialize CodeQL
      uses: github/codeql-action/init@v1
      with:
        languages: go

    - name: Autobuild
      uses: github/codeql-action/autobuild@v1

    - name: Perform CodeQL Analysis
      uses: github/codeql-action/analyze@v1
