name: "Prepare the release"
on:
  push:
    tags:
    - 'v*'

jobs:
  unit-tests:
    runs-on: ubuntu-20.04
    steps:
    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.17

    - uses: actions/checkout@v2.3.4

    - name: "install kubebuilder"
      run: ./hack/install-kubebuilder.sh

    - name: "install kustomize"
      run: ./hack/install-kustomize.sh

    - uses: jpkrohling/setup-operator-sdk@v1.1.0
      with:
        operator-sdk-version: v1.10.1

    - name: "generate release resources"
      run: make release-artifacts IMG_PREFIX="quay.io/opentelemetry"

    - name: "create the release in GitHub"
      env:
        GH_WRITE_TOKEN: ${{ secrets.GH_WRITE_TOKEN }}
      run: ./.ci/create-release-github.sh

    - name: "refresh go proxy module info on release"
      run: |
        OPERATOR_VERSION=$(git describe --tags)
        curl https://proxy.golang.org/github.com/open-telemetry/splunk-otel-operator/@v/${OPERATOR_VERSION}.info
