name: Reusable - Publish autoinstrumentation E2E images

on:
  workflow_call:
    inputs:
      path:
        type: string
        required: true
      platforms:
        type: string
        required: true
      build-args:
        type: string
        required: false
        default: ''
      tag-suffix:
        type: string
        required: false
        default: ''

permissions:
  contents: read

jobs:
  publish-e2e-image:
    permissions:
      packages: write
      attestations: write
      id-token: write
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@318604b99e75e41977312d83839a89be02ca4893 # v5.9.0
        with:
          images: |
            ghcr.io/${{ github.repository }}/e2e-test-app-${{ inputs.path }}
          tags: |
            type=ref,event=branch,suffix=${{ inputs.tag-suffix }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1

      - name: Cache Docker layers
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-

      - name: Login to GitHub Package Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          tags: ${{ steps.meta.outputs.tags }}
          context: tests/test-e2e-apps/${{ inputs.path }}
          platforms: ${{ inputs.platforms }}
          build-args: ${{ inputs.build-args }}
          push: ${{ github.event_name == 'push' }}
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache
