name: "Scorecard tests"

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  scorecard-tests:
    name: test on k8s
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        kube-version:
          - "1.19"
          - "1.24"

    steps:

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.18

      - name: Check out code into the Go module directory
        uses: actions/checkout@v3

      - name: "install kuttl and kind"
        run: ./hack/install-kuttl.sh

      - name: "start kind"
        env:
          KUBE_VERSION: ${{ matrix.kube-version }}
        run: kind create cluster --config kind-$KUBE_VERSION.yaml

      - name: "wait until cluster is ready"
        run:  kubectl wait --timeout=5m --for=condition=available deployment/coredns -n kube-system

      - name: "run scorecard test"
        run: make scorecard-tests
